/* responsividade */
@media screen and (max-width: 768px){
    .cabecalhoPrincipal .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }
    .cabecalhoPrincipal-nav {
        flex-direction: column;
    }

    .cabecalhoPrincipal-nav-link-app {
        order: -1;
    }
    .conteudoPrincipal-cursos {
        flex-direction: column;
    }
    
    .conteudoPrincipal-cursos-link {
        width: 100%;
    }
    .rodapePrincipal-navMap-list {
        height: auto;
    }
    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
        align-items: center;
    }
    .rodapePrincipal-patrocinadores-list {
        width: 99%;
        margin: 0;

    }
    .rodapePrincipal-contatoForm {
        width: 100%;
    }
    .rodapePrincipal-contatoForm-fieldset {
        justify-content: center;
    }
}