/* responsividade */
@media screen and (max-width: 788px){
    .cabecalhoPrincipal .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }
    .cabecalhoPrincipal-nav {
        flex-direction: column;
    }

    .cabecalhoPrincipal-nav-link {
        text-decoration: underline;
    }

    .cabecalhoPrincipal-nav-link-app {
        order: -1;
    }
    .conteudoPrincipal-cursos {
        flex-direction: column;
    }
    
    .conteudoPrincipal-cursos-link {
        width: 100%;
    }

    .videoSobre .container {
        flex-direction: column;
        align-items: center;
    }
    .videoSobre-video {
        width: 100%;
        margin: 0;
    }
    .rodapePrincipal-navMap-list {
        height: auto;
    }
    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
        align-items: center;
    }
    .rodapePrincipal-patrocinadores-list {
        width: 99%;
        margin: 0;
    }

    .rodapePrincipal-patrocinadores-list li {
        width: 80px;
    }

    .rodapePrincipal-patrocinadores-list li img {
        max-width: 100%;
    }
    .rodapePrincipal-contatoForm {
        /* width: 100%; */
    }
    .rodapePrincipal-contatoForm-fieldset {
        justify-content: center;
    }
}