.themes {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--main-color-bg);
}

@media screen and (min-width: 0) {
    .themes {
        flex-direction: column;
        padding: 0 1rem 1rem;
    }
}
@media screen and (min-width: 768px) {
    .themes {
        flex-direction: row;
    }
}