.logo {
    align-items: center;
    display: flex;
}

.logo__img {
    background: url(../../img/logo_wiki.jpg) no-repeat center / cover;
    border-radius: 50%;
    margin-right: 13px;
    height: calc(80px - .5rem);
    width: 75px;
}

.logo h1 {
    color: var(--main-color-text);
}